@charset "utf-8";

/**
 * common.css
 * @author tangqy 2017/04/14
 */

html {
	overflow: auto;
}
body * {
	font-family: "Microsoft Yahei", sans-serif, lucida grande, lucida sans unicode, helvetica, arial;
	outline: 0 !important;
}
ul,ol,li {
	list-style-type: none;
}
a.underline:hover {
	text-decoration: underline;
}
.small, small {
	font-size: 12px;
}
.bloder {
	font-weight: 700;
}
.pointer {
	cursor: pointer;
}
.pointer.hover-style:hover {
	opacity: 0.86;
}
.relative {
	position: relative;
}
.no-shadow {
	box-shadow: none !important;
}
.no-border {
	border: 0 !important;
}
.colorful-border {
	border: 0;
	border-bottom: 1px solid transparent;
	border-bottom: 1px solid #E6E3DC\9;
	border-image: linear-gradient(90deg,rgba(12,105,9,.3) 0,rgba(133,34,225,.3) 53%,rgba(46,161,219,.3));
	border-image-slice: 1;
}
.btn-m {
	min-width: 80px;
}
/* 防止vue渲染数据时闪烁{{ }} */
[v-cloak] {
	display: none !important;
}
.radio label::before,
.radio label::after {
	outline: 0 !important;
}
.form-inline label,
.form-horizontal label {
	font-weight: 500;
}
.form-control.error {
	border: 1px dotted #f96868;
}
.form-control.error ~ .input-group-btn {
	vertical-align: top;
}
.input-group .input-group-btn {
	vertical-align: top;
}
label.error {
	color: #f96868;
	display: inline-block;
	margin-left: 5px;
	font-size: 13px;
	font-weight: 500;
}


/* Banshou html Common Style -- START
----------------------------------*/
#page-wrapper {
	padding: 0;
}
.wrapper.wrapper-content {
	padding: 6px 15px 0 15px;
}
/* iframe-tabs START */
.wrapper-content.body-wrap {
	padding: 5px 0 0 0 !important;
}
.body-wrap > .main-wrap {
	padding: 15px 20px 0px 20px;
	background-color: #fff;
	border-top: 1px solid #e7eaec;
	width: 100%;
}
.body-wrap > .main-wrap .iframe-body {
	padding: 0 !important;
}
.body-wrap > .main-wrap .iframe-body iframe {
	width: 100%;
	height: 100%;
}
/* iframe-tabs END */
.wrapper-dialog .open > .dropdown-menu {
	top: 33px;
	max-height: 200px;
	overflow: auto;
}
.pw-show-toggle {
	position: absolute;
	top: 8px;
	right: 20px;
	width: 20px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
}
/* Banshou html Common Style -- END
----------------------------------*/


/* Layer Style -- START
----------------------------------*/
.layui-layer-btn .layui-layer-btn0 {
	border-color: #18a689 !important;
	background-color: #18a689 !important;
	color: #fff;
}
.layer-loading-custom {
	max-width: 195px;
}
/* Layer Style -- END
----------------------------------*/


/* Scrollbar Style -- START
----------------------------------*/
/* webkit scrollbar */
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar {
	/* width: 8px;
	height: 12px; 
	background-color: #F5F5F5; */
	width: 8px;
	height: 9px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
	background-color: #F5F5F5;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1); */
}
/*滚动条的轨道的两端按钮 允许通过点击微调小方块的位置*/
::-webkit-scrollbar-button {
	display: none;
}
/*定义滑块 内阴影+圆角*/ 
::-webkit-scrollbar-thumb {
	/* background-color: #999;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1); */
	border-radius: 4px;
	background: #c5c5c5;
}
/* Scrollbar Style -- END
----------------------------------*/


/* Color -- START
----------------------------------*/
.c-primary { color: #18a689; }
.c-navy { color: #1ab394; }
.c-lblue { color: #62a8ea; }
.c-azure { color: #23c6c8; }
.c-info { color: #21b9bb; }
.c-success { color: #1c84c6; }
.c-yellow { color: #FBC02D; }
.c-warning { color: #f7a54a; }
.c-red { color: #D6494B; }
.c-lred { color: #fa7a7a; }
.c-danger { color: #ed5565; }
.c-white { color: #ffffff; }
.c-grey { color: #676a6c; }
.c-silver { color: #afafaf; }
.c-muted { color: #888888; }

a.c-primary:hover, a.c-primary:focus { color: #18a689; opacity: 0.9;}
a.c-navy:hover, a.c-navy:focus { color: #1ab394; opacity: 0.9;}
a.c-lblue:hover, a.c-lblue:focus { color: #62a8ea; opacity: 0.9;}
a.c-azure:hover, a.c-azure:focus { color: #23c6c8; opacity: 0.9;}
a.c-info:hover, a.c-info:focus { color: #21b9bb; opacity: 0.9;}
a.c-success:hover, a.c-success:focus { color: #1c84c6; opacity: 0.9;}
a.c-yellow:hover, a.c-yellow:focus { color: #FBC02D; opacity: 0.9;}
a.c-warning:hover, a.c-warning:focus { color: #f7a54a; opacity: 0.9;}
a.c-red:hover, a.c-red:focus { color: #D6494B; opacity: 0.9;}
a.c-lred:hover, a.c-lred:focus { color: #fa7a7a; opacity: 0.9;}
a.c-danger:hover, a.c-danger:focus { color: #ed5565; opacity: 0.9;}
a.c-white:hover, a.c-white:focus { color: #ffffff; opacity: 0.9;}
a.c-grey:hover, a.c-grey:focus { color: #676a6c; opacity: 0.9;}
a.c-silver:hover, a.c-silver:focus { color: #afafaf; opacity: 0.9;}
a.c-muted:hover, a.c-muted:focus { color: #888888; opacity: 0.9;}
/* Color -- END
----------------------------------*/


/* vertical & cover -- START
----------------------------------*/
/* vertical */
.vertical-align {
	font-size: 0
}
.vertical-align:before {
	display:inline-block;
	height:100%;
	vertical-align:middle;
	content:"";
}
.vertical-align-bottom,.vertical-align-middle {
	display:inline-block;
	max-width:100%;
	font-size:14px;
}
.vertical-align-middle {
	vertical-align:middle;
}
.vertical-align-bottom {
	vertical-align:bottom;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* cover */
.cover {
	overflow:hidden
}
.cover-background {
	height:100%;
	background-repeat:no-repeat;
	background-position:center;
	-webkit-background-size:cover;
	background-size:cover
}
.cover-image {
	width:100%
}
.cover-quote {
	position:relative;
	padding-left:35px;
	margin-bottom:0;
	border-left:none
}
.cover-quote:after,.cover-quote:before {
	position:absolute;
	top:-20px;
	font-size:4em
}
.cover-quote:before {
	left:0;
	content:open-quote
}
.cover-quote:after {
	right:0;
	visibility:hidden;
	content:close-quote
}
.cover-quote.blockquote-reverse {
	padding-right:35px;
	padding-left:20px;
	border-right:none
}
.cover-quote.blockquote-reverse:before {
	right:0;
	left:auto;
	content:close-quote
}
.cover-gallery .carousel-inner img {
	width:100%
}
.cover-iframe {
	width:100%;
	border:0 none
}
/* vertical & cover -- END
----------------------------------*/


/* font & text -- START
----------------------------------*/
.text-lowercase {
	text-transform: lowercase !important;
}
.text-uppercase {
	text-transform: uppercase !important;
}
.text-capitalize {
	text-transform: capitalize !important;
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
	white-space: nowrap;
}
.text-break {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	white-space: normal;
	-ms-hyphens: auto;
}
.text-nowrap {
	white-space: nowrap;
}
.text-top {
	vertical-align:top !important
}
.text-middle {
	vertical-align:middle !important
}
.text-bottom {
	vertical-align:bottom !important
}
.text-left {
	text-align:left !important
}
.text-right {
	text-align:right !important
}
.text-center {
	text-align:center !important
}
.text-justify {
	text-align:justify !important
}
.font-weight-light {
	font-weight:300 !important
}
.font-weight-normal {
	font-weight:400 !important
}
.font-weight-medium {
	font-weight:500 !important
}
.font-weight-bold {
	font-weight:700 !important
}
.font-size-0 {
	font-size:0 !important
}
.font-size-10 {
	font-size:10px !important
}
.font-size-12 {
	font-size:12px !important
}
.font-size-13 {
	font-size:13px !important
}
.font-size-14 {
	font-size:14px !important
}
.font-size-15 {
	font-size:15px !important
}
.font-size-16 {
	font-size:16px !important
}
.font-size-18 {
	font-size:18px !important
}
.font-size-20 {
	font-size:20px !important
}
.font-size-24 {
	font-size:24px !important
}
.font-size-26 {
	font-size:26px !important
}
.font-size-30 {
	font-size:30px !important
}
.font-size-40 {
	font-size:40px !important
}
.font-size-50 {
	font-size:50px !important
}
.font-size-60 {
	font-size:60px !important
}
.font-size-70 {
	font-size:70px !important
}
.font-size-80 {
	font-size:80px !important
}
/* font & text -- END
----------------------------------*/


/* height & width -- START
----------------------------------*/
.height-50 {
	height:50px
}
.height-100 {
	height:100px
}
.height-120 {
	height:120px
}
.height-150 {
	height:150px
}
.height-200 {
	height:200px
}
.height-250 {
	height:250px
}
.height-300 {
	height:300px
}
.height-350 {
	height:350px
}
.height-400 {
	height:400px
}
.height-450 {
	height:450px
}
.height-500 {
	height:500px
}
.height-full {
	height:100% !important
}
.width-50 {
	width:50px
}
.width-80 {
	width:80px
}
.width-100 {
	width:100px
}
.width-150 {
	width:150px
}
.width-200 {
	width:200px
}
.width-250 {
	width:250px
}
.width-300 {
	width:300px
}
.width-350 {
	width:350px
}
.width-400 {
	width:400px
}
.width-450 {
	width:450px
}
.width-500 {
	width:500px
}
.width-full {
	width:100% !important
}
/* height & width -- END
----------------------------------*/


/* Dialog Elements -- START
----------------------------------*/
.wrapper-content.wrapper-dialog, .wrapper-dialog {
	padding-top: 20px;
	padding-bottom: 65px !important;
}
.bottom-btn-group {
	border-top: 1px solid #e1e1e1;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #fff;
	padding: 15px 15px;
	z-index: 110;
}
.bottom-btn-group.absolute {
	position: absolute;
}
.bottom-btn-group button {
	margin: 0 3px;
	min-width: 82px;
}
.form-detail .control-label {
	color: #3c3c3c
}
.form-detail .cont-txt {
	color: #8c8c8c;
	margin-top: 10px;
	word-wrap: break-word;
	word-break: break-all;
}
.file-name-text {
	float: left;
	width: 210px;;
	height: 34px;
	line-height: 34px;
	padding-left: 4px;
	border-bottom: 1px solid #1ab394;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* Dialog Elements -- END
----------------------------------*/


/* tabs -- START
----------------------------------*/
/* layer-tab */
.layer-tab-iframe .layui-layer-content {
	width: 100%;
	overflow: hidden !important;
}
.layer-tab-iframe .layui-layer-tabmain {
	line-height: normal;
	margin: 0;
	padding: 0;
}
.layer-tab-iframe .layui-layer-tabmain iframe {
	border: 0;
}

/* nav-tabs */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
.md-skin .nav > li.active > a {
	color: #26a087;
}
.nav.nav-tabs li.divider {
	background-color: #e5e5e5 !important;
}
.nav.nav-tabs > li > a {
	padding: 12px 20px 10px 22px;
}
.nav.nav-tabs-lg > li > a {
	padding: 14px 20px 14px 25px;
}
.nav-tabs.nav-tabs-bg > li > a:hover,
.nav-tabs.nav-tabs-bg > li > a:focus {
	text-decoration: none;
	background-color: #f3f7f9;
	border-color: transparent transparent #e4eaec;
}
.nav-tabs.nav-tabs-bg > li.active > a,
.md-skin .nav.nav-tabs-bg > li.active > a {
	color: #fff !important;
	background-color: #62a8ea;
	border-color: transparent;
	border-bottom-color: #62a8ea;
	font-weight: 500;
}
.nav.nav-tabs.nav-tabs-border > li {
	margin-left: -1px;
	border-top: 1px solid #e7eaec;
	border-left: 1px solid #e7eaec;
	border-right: 1px solid #e7eaec;
}
.nav.nav-tabs.nav-tabs-border > li.active {
	background: #f8f8f9;
	border-top: 0px;
	z-index: 3;
}
.nav.nav-tabs.nav-tabs-border > li:FIRST-CHILD {
	margin-left: 0;
}
.nav.nav-tabs.nav-tabs-border > li > a {
	margin-right: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-radius: 0;
	background: #FBFAF8;
}
.nav.nav-tabs.nav-tabs-border > li.active > a {
	border-top: 2px solid #3dbba1;
	color: #676a6c !important;
}
.nav.nav-tabs.nav-tabs-border > li > a:hover {
	background-color: #FFF;
	color: #26a087;
	border-color: #eeeeee #eeeeee #dddddd;
}
.nav.nav-tabs.nav-tabs-border > li.active > a,
.md-skin .nav.nav-tabs-border > li.active > a {
	border-left: 0px;
	border-right: 0px;
	margin-bottom: 1px;
	border-bottom: 0;
	background-color: #fff;
	border-top: 2px solid #3dbba1;
	color: #676a6c !important;
}
/* tabs -- END
----------------------------------*/


/* dataTable -- START
----------------------------------*/
table.dataTable tbody tr.selected {
	 background-color: rgb(200,230,220)
}

table.data-table {
	clear: both;
	margin-top: 6px !important;
	margin-bottom: 6px !important;
	max-width: none !important;
}
table.data-table  thead > tr > th {
	height: 36px;
	padding: 0 30px 0 8px;
	line-height: 36px;
	background-color: #edf4f9 !important;
	text-align: center;
}
table.data-table  thead > tr > th.serial-num,
table.data-table  tbody > tr > td.serial-num {
	width: 20px !important;
	padding: 8px 4px;
}
table.data-table  tbody > tr > td.operate-col > a {
	font-size: 0.96em;
	padding: 4px 5px;
	margin: 0 1px;
}
table.data-table  tbody > tr > td.operate-col > a:hover {
	opacity: 0.9;
	background-color: #f3f7f9;
	border-color: #f3f7f9;
}
table.data-table  tbody > tr > td.operate-col > a:focus,
table.data-table  tbody > tr > td.operate-col > a:active {
	background-color: #e0e4e6;
	border-color: #e0e4e6;
}
table.data-table  thead > tr > th.sorting_disabled {
	padding: 0 6px;
}
table.data-table  thead > tr > th:after {
	bottom: 0px !important;
}
table.data-table  thead .sorting_desc:after {
	bottom: 2px !important;
}
table.data-table  thead .sorting_asc:after {
	bottom: -4px !important;
}
table.data-table  > tbody > tr > td {
	padding: 8px 6px;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
}
table.data-table .table-hover > tbody > tr:hover {
	background-color: #cdfaf3;
}
table.data-table .table-hover-light > tbody > tr:hover {
	background-color: #f5f5f5;
}
table.data-table .table-hover-light > tbody tr.selected {
	background-color: #d1fff8;
}
table.data-table .table-hover-light > tbody > tr:hover.selected {
	background-color: #cdfaf3;
}
table.data-table .checkbox {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	height: 20px;
}
table.data-table .checkbox label::before {
	margin-left: -17px;
}
table.data-table .checkbox label::after {
	margin-left: -18px;
}
table.data-table .checkbox [type="checkbox"] {
	margin: 0;
	position: relative;
}
table.data-table td.dataTables_empty {
	padding: 20px 0 !important;
	font-size: 14px;
	color: #666;
	background-color: #f9f9f9;
}
table.data-table td.dataTables_empty .fa {
	font-size: 20px;
}
.dt-search .data-table s_filter {
	text-align: left !important;
}
.dt-length {
	display: inline-block;
}
.dt-length .dataTables_length {
	margin-right: 30px;
	line-height: 30px;
	height: 30px;
	float: none;
	display: inline-block;
}
.dt-length .dataTables_length label select {
	width: 48px;
	line-height: 30px;
	height: 24px;
	padding: 0;
}
.dt-length .dataTables_info {
	line-height: 30px;
	padding: 0 !important;
	display: inline-block;
}
.dt-page {
	float: right;
}
.dataTables_wrapper.no-footer {
	padding-bottom: 0;
}
table.data-table  .edit_td {
	line-height: normal;
	padding: 2px 0;
}
table.data-table  .edit_td > .bootstrap-touchspin {
	width: 96%;
	margin-left: 2%;
}
table.data-table  .edit_td > .bootstrap-touchspin .input-group-addon {
	background-color: #e5e6e7;
}
table.data-table  .edit_td > .bootstrap-touchspin input {
	padding: 0 4px;
	text-align: center;
}
table.data-table  .edit_td .input-group-btn:first-child > .btn {
	margin-right: -2px;
}
table.data-table  .edit_td > input[type="text"] {
	width: 94%;
	height: 30px;
	padding: 0px 6px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #3aa99e;
	border-color: #3aa99e;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
	z-index: 2;
	color: #3aa99e;
	background-color: #f3f7f9;
	border-color: #dfe0e0;
}
/* dataTable -- END
----------------------------------*/


/* datepicker -- START
----------------------------------*/
.input-daterange input[readonly] {
	background-color: #f9f9f9;
}
.datepicker.dropdown-menu {
	color: #5c6975;
	-webkit-box-shadow: 0 3px 12px rgba(0,0,0,.05);
	box-shadow: 0 3px 12px rgba(0,0,0,.05);
}
.datepicker table tr td.active,
.datetimepicker table tr td.active,
.datetimepicker table tr td span.active {
	text-shadow: none;
	color: #ffffff !important;
	background-color: #3ba99e !important;
	border-color: #1bb394 !important;
	background-image: linear-gradient(to bottom, #1bb394, #3ba99e) !important;
	background-repeat: repeat-x;
}
.datepicker tfoot tr th.space:hover,
.datetimepicker tfoot tr th.space:hover {
	background: transparent;
	cursor: default;
}
.datepicker tfoot tr td.f-border-top,
.datetimepicker tfoot tr td.f-border-top {
	border-top: 1px solid #e9e9e9;
	padding: 0;
	height: 5px;
}
.datepicker table tr td.today,
.datetimepicker table tr td.today {
	background-color: #fde19a;
	background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
	background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
	border-color: #fdf59a #fdf59a #fbed50;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.datepicker table tr th.clear,
.datetimepicker table tr th.clear {
	display: table-cell;
	overflow: initial;
}

.daterangepicker.dropdown-menu td.active, .daterangepicker td.active:hover {
	background-color: #3ba99e;
	border-color: #1bb394;
	color: #fff;
}
.daterangepicker.dropdown-menu .ranges li {
	background: #f3f7f9;
	color: #1ab394;
	border-radius: 4px;
}
.daterangepicker.dropdown-menu .ranges li.active, .daterangepicker .ranges li:hover {
	background: #1ab394;
	border: 1px solid #1ab394;
	color: #fff;
}
/* datepicker -- END
----------------------------------*/


/* cropper img -- START
----------------------------------*/
.edit-avatar .edit-left {
	width: 389px;
	overflow: hidden;
	float: left;
}
.edit-avatar .initial-pic {
	width: 389px;
	height: 389px;
	overflow: hidden;
	background: #f0f0f0;
	margin-bottom: 10px;
}
.edit-avatar .initial-pic .loading-block {
	width: 389px;
	height: 389px;
	padding-top: 169px;
	text-align: center;
}
.edit-avatar .initial-pic .choose-pic {
	width: 389px;
	height: 379px;
	text-align: center;
}
.edit-avatar .initial-pic .choose-pic .btn {
	margin: 166px 0 10px;
	background-color: #fff;
	color: #1ab394 !important;
}
.edit-avatar .initial-pic .choose-pic .tip-txt {
	color: #808080;
	text-decoration: none;
}
.edit-avatar .initial-pic .edit-pic {
	height: 389px;
	overflow: hidden;
	position: relative;
}
.edit-avatar .edit-right {
	width: 132px;
	height: 389px;
	overflow: hidden;
	float: right;
}
.edit-avatar .preview {
	padding: 16px;
	background: #f0f0f0;
	text-align: center;
}
.edit-avatar .preview .avatar {
	overflow: hidden;
	margin-bottom: 25px;
}
.edit-avatar .preview .avatar.avatar-30 {
	margin-bottom: 5px;
}
.edit-avatar .preview .avatar .pic-wrap {
	margin: 0 auto 10px;
	overflow: hidden;
	border: 1px solid #E2E2E2;
	border-radius: 50%;
}
.edit-avatar .preview .avatar .pic-wrap img {
	width: 100%;
	height: 100%;
}
.edit-avatar .preview .avatar-100 .pic-wrap {
	width: 100px;
	height: 100px;
}
.edit-avatar .preview .avatar-60 .pic-wrap {
	width: 60px;
	height: 60px;
}
.edit-avatar .preview .avatar-30 .pic-wrap {
	width: 30px;
	height: 30px;
}
/* cropper img -- END
----------------------------------*/


/* overlay -- START
----------------------------------*/
.overlay {
	position:relative;
	display:inline-block;
	width:100%;
	max-width:100%;
	margin:0;
	overflow:hidden;
	vertical-align:middle;
	-webkit-transform:translateZ(0);
	transform:translateZ(0)
}
.overlay .overlay-figure,.overlay>:first-child {
	width:100%;
	max-width:100%;
	margin-bottom:0
}
.overlay-panel {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	padding:20px;
	color:#fff
}
.overlay-panel a:not([class]) {
	color:inherit;
	text-decoration:underline
}
.overlay-panel>:last-child {
	margin-bottom:0
}
.overlay-panel h1,.overlay-panel h2,.overlay-panel h3,.overlay-panel h4,.overlay-panel h5,.overlay-panel h6 {
	color:inherit
}
.overlay-hover:not(:hover) .overlay-panel:not(.overlay-background-fixed) {
	opacity:0
}
.overlay-background {
	background:rgba(0,0,0,.5)
}
.overlay-image {
	width:100%;
	max-width:100%;
	padding:0
}
.overlay-shade {
	background:rgba(0,0,0,0) -webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(255,255,255,0)),color-stop(90%,rgba(255,255,255,.87)),to(#fff)) repeat scroll 0 0;
	background:rgba(0,0,0,0) -webkit-linear-gradient(top,rgba(255,255,255,0) 50%,rgba(255,255,255,.87) 90%,#fff 100%) repeat scroll 0 0;
	background:rgba(0,0,0,0) -o-linear-gradient(top,rgba(255,255,255,0) 50%,rgba(255,255,255,.87) 90%,#fff 100%) repeat scroll 0 0;
	background:rgba(0,0,0,0) linear-gradient(to bottom,rgba(255,255,255,0) 50%,rgba(255,255,255,.87) 90%,#fff 100%) repeat scroll 0 0
}
.overlay-top {
	bottom:auto
}
.overlay-bottom {
	top:auto
}
.overlay-left {
	right:auto
}
.overlay-right {
	left:auto
}
.overlay-icon {
	font-size:0;
	text-align:center
}
.overlay-icon:before {
	display:inline-block;
	height:100%;
	vertical-align:middle;
	content:""
}
.overlay-icon .icon {
	display:inline-block;
	width:32px;
	height:32px;
	margin-right:10px;
	margin-left:10px;
	font-size:32px;
	line-height:1;
	color:#fff;
	text-decoration:none
}
.overlay-anchor {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0
}
.overlay-blur,.overlay-fade,.overlay-grayscale,.overlay-scale,.overlay-spin,[class*=overlay-slide] {
	-webkit-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
	-webkit-transition-duration:.3s;
	-o-transition-duration:.3s;
	transition-duration:.3s;
	-webkit-transition-property:opacity;
	-o-transition-property:opacity;
	transition-property:opacity
}
.overlay-fade {
	opacity:.7
}
.overlay-hover:hover .overlay-fade {
	opacity:1
}
.overlay-scale {
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1)
}
.overlay-hover:hover .overlay-scale {
	-webkit-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1)
}
.overlay-spin {
	-webkit-transform:scale(1) rotate(0);
	-ms-transform:scale(1) rotate(0);
	-o-transform:scale(1) rotate(0);
	transform:scale(1) rotate(0)
}
.overlay-hover:hover .overlay-spin {
	-webkit-transform:scale(1.1) rotate(3deg);
	-ms-transform:scale(1.1) rotate(3deg);
	-o-transform:scale(1.1) rotate(3deg);
	transform:scale(1.1) rotate(3deg)
}
.overlay-grayscale {
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%)
}
.overlay-hover:hover .overlay-grayscale {
	filter:grayscale(0);
	-webkit-filter:grayscale(0)
}
[class*=overlay-slide] {
	opacity:0
}
.overlay-slide-top {
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	transform:translateY(-100%)
}
.overlay-slide-bottom {
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	-o-transform:translateY(100%);
	transform:translateY(100%)
}
.overlay-slide-left {
	-webkit-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	-o-transform:translateX(-100%);
	transform:translateX(-100%)
}
.overlay-slide-right {
	-webkit-transform:translateX(100%);
	-ms-transform:translateX(100%);
	-o-transform:translateX(100%);
	transform:translateX(100%)
}
.overlay-hover:hover [class*=overlay-slide] {
	opacity:1;
	-webkit-transform:translateX(0) translateY(0);
	-ms-transform:translateX(0) translateY(0);
	-o-transform:translateX(0) translateY(0);
	transform:translateX(0) translateY(0)
}
/* overlay -- END
----------------------------------*/


/* ribbon -- START
----------------------------------*/
.ribbon {
	position: absolute;
	top: -3px;
	left: -3px;
	width: 150px;
	height: 150px;
	text-align: center;
	background-color: transparent;
}
.ribbon-reverse {
	right: -3px;
	left: auto;
}
.ribbon-inner {
	position: absolute;
	top: 16px;
	left: 0;
	display: inline-block;
	height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 30px;
	color: #fff;
	white-space: nowrap;
	background-color: #526069;
}
.ribbon-reverse .ribbon-inner {
	right: 0;
	left: auto;
}
.ribbon-clip {
	left: -14px;
}
.ribbon-clip.ribbon-reverse {
	right: -14px;
	left: auto;
}
.ribbon-clip .ribbon-inner {
	padding-left: 23px;
	border-radius: 0 5px 5px 0;
}
.ribbon-clip.ribbon-reverse .ribbon-inner {
	padding-right: 23px;
	padding-left: 15px;
	border-radius: 5px 0 0 5px;
}
.ribbon-bookmark .ribbon-inner {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.ribbon-primary .ribbon-inner {
	background-color: #3aa99e;
}
.ribbon-success .ribbon-inner {
	background-color: #46be8a;
}
.ribbon-warning .ribbon-inner {
	background-color: #f2a654;
}
.ribbon-danger .ribbon-inner {
	background-color: #f96868;
}
.ribbon-bookmark .ribbon-inner:before {
	position: absolute;
	top: 0;
	left: 100%;
	display: block;
	width: 0;
	height: 0;
	content: "";
	border: 15px solid #526069;
	border-right: 10px solid transparent;
}
.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
	right: 100%;
	left: auto;
	border-right: 15px solid #526069;
	border-left: 10px solid transparent;
}
.ribbon-primary.ribbon-bookmark .ribbon-inner:before {
	border-color: #3aa99e;
	border-right-color: transparent;
}
.ribbon-primary.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
	border-right-color: #3aa99e;
	border-left-color: transparent;
}
.ribbon-primary.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
	border-right-color: #3aa99e;
	border-left-color: transparent;
}
.ribbon-clip .ribbon-inner:after {
	position: absolute;
	bottom: -14px;
	left: 0;
	width: 0;
	height: 0;
	content: "";
	border: 7px solid transparent;
	border-top-color: #37474f;
	border-right-color: #37474f;
}
.ribbon-clip.ribbon-reverse .ribbon-inner:after {
	right: 0;
	left: auto;
	border-right-color: transparent;
	border-left-color: #37474f;
}
.ribbon-primary .ribbon-inner:after {
	border-top-color: #269b8f;
	border-right-color: #269b8f;
}
.ribbon-danger .ribbon-inner:after {
	border-top-color: #e9595b;
	border-right-color: #e9595b;
}
.ribbon-warning .ribbon-inner:after {
	border-top-color: #ec9940;
	border-right-color: #ec9940;
}
.ribbon-success .ribbon-inner:after {
	border-top-color: #36ab7a;
	border-right-color: #36ab7a;
}
.ribbon-info .ribbon-inner:after {
	border-top-color: #47b8c6;
	border-right-color: #47b8c6;
}
.ribbon-primary.ribbon-reverse .ribbon-inner:after {
	border-right-color: transparent;
	border-left-color: #269b8f;
}
.ribbon-danger.ribbon-reverse .ribbon-inner:after {
	border-right-color: transparent;
	border-left-color: #e9595b;
}
.ribbon-warning.ribbon-reverse .ribbon-inner:after {
	border-right-color: transparent;
	border-left-color: #ec9940;
}
.ribbon-success.ribbon-reverse .ribbon-inner:after {
	border-right-color: transparent;
	border-left-color: #36ab7a;
}
.ribbon-info.ribbon-reverse .ribbon-inner:after {
	border-right-color: transparent;
	border-left-color: #47b8c6;
}
/* ribbon -- END
----------------------------------*/


/* aside section -- START
----------------------------------*/
.page.page-full {
	height: calc(100vh - 8px)!important;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}
.page-aside {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 220px;
	overflow-y: hidden;
	background: #fff;
	border-right: 1px solid #e4eaec;
	-webkit-transition: visibility .1s ease,top .3s ease,left .5s ease;
	-o-transition: visibility .1s ease,top .3s ease,left .5s ease;
	transition: visibility .1s ease,top .3s ease,left .5s ease;
}
.page-aside + .page-main {
	height: 100%;
	margin-left: 230px;
	overflow-y: auto;
}
.aside-inner {
	padding: 0;
}
.aside-section {
	position: relative;
}
.aside-section:after {
	position: relative;
	display: block;
	margin: 11px;
	content: "";
	border-bottom: 1px solid #e4eaec;
}
.aside-inner .aside-section:last-child:after {
	margin-bottom: 0;
}
.aside-section .aside-title {
	padding: 10px 20px;
	margin-top: 0;
	margin-bottom: 5px;
	overflow: hidden;
	font-weight: 400;
	color: #526069;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.aside-section .list-group {
	margin-bottom: 15px;
}
.aside-section .list-group-item {
	padding: 13px 20px;
	margin-bottom: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: none;
	border-radius: 0;
	border-right: 2px solid transparent;
}
.aside-section .list-group-item .fa {
	font-size: 16px;
	color: #a3afb7;
	margin-right: 10px;
}
.aside-section .list-group-item.current,
.aside-section .list-group-item:focus,
.aside-section .list-group-item:hover {
	color: #62a8ea;
	background-color: #f3f7f9;
	border: none;
	border-right: 2px solid #1ab394;
}
.aside-section .list-group-item.current > .fa,
.aside-section .list-group-item:focus > .fa,
.aside-section .list-group-item:hover > .fa {
	color: #62a8ea;
}
/* aside section -- END
----------------------------------*/


/* touchspin -- START
----------------------------------*/
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
	/* margin-right: -2px; */
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child>.btn-group {
	z-index: 0;
	margin-left: -1px;
}
.bootstrap-touchspin .btn.bootstrap-touchspin-up,
.bootstrap-touchspin .btn.bootstrap-touchspin-down {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	padding: 6px 12px;
}
.bootstrap-touchspin .btn.bootstrap-touchspin-up.mini-btn,
.bootstrap-touchspin .btn.bootstrap-touchspin-down.mini-btn {
	padding: 6px 8px;
}
/* touchspin -- END
----------------------------------*/


@media (min-width: 768px) {
	.form-inline .form-control.keyword-ipt {
		width: 225px;
	}
}
