<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sosopd.order.mapper.SosopdSendOrderLogMapper" >
  <resultMap id="BaseResultMap" type="cn.sosopd.order.entity.SosopdSendOrderLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
    <result column="send_order_count" property="sendOrderCount" jdbcType="INTEGER" />
    <result column="send_success_count" property="sendSuccessCount" jdbcType="INTEGER" />
    <result column="send_fail_count" property="sendFailCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, date, user_id, platform_id, send_order_count, send_success_count, send_fail_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sosopd_send_order_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sosopd_send_order_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sosopd.order.entity.SosopdSendOrderLog" >
    insert into sosopd_send_order_log (id, date, user_id, 
      platform_id, send_order_count, send_success_count, 
      send_fail_count)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{platformId,jdbcType=INTEGER}, #{sendOrderCount,jdbcType=INTEGER}, #{sendSuccessCount,jdbcType=INTEGER}, 
      #{sendFailCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.sosopd.order.entity.SosopdSendOrderLog" >
    insert into sosopd_send_order_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="sendOrderCount != null" >
        send_order_count,
      </if>
      <if test="sendSuccessCount != null" >
        send_success_count,
      </if>
      <if test="sendFailCount != null" >
        send_fail_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=INTEGER},
      </if>
      <if test="sendOrderCount != null" >
        #{sendOrderCount,jdbcType=INTEGER},
      </if>
      <if test="sendSuccessCount != null" >
        #{sendSuccessCount,jdbcType=INTEGER},
      </if>
      <if test="sendFailCount != null" >
        #{sendFailCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sosopd.order.entity.SosopdSendOrderLog" >
    update sosopd_send_order_log
    <set >
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=INTEGER},
      </if>
      <if test="sendOrderCount != null" >
        send_order_count = #{sendOrderCount,jdbcType=INTEGER},
      </if>
      <if test="sendSuccessCount != null" >
        send_success_count = #{sendSuccessCount,jdbcType=INTEGER},
      </if>
      <if test="sendFailCount != null" >
        send_fail_count = #{sendFailCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sosopd.order.entity.SosopdSendOrderLog" >
    update sosopd_send_order_log
    set date = #{date,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      platform_id = #{platformId,jdbcType=INTEGER},
      send_order_count = #{sendOrderCount,jdbcType=INTEGER},
      send_success_count = #{sendSuccessCount,jdbcType=INTEGER},
      send_fail_count = #{sendFailCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>