<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="cn.sosopd.order.mapper.SosopdOrderAttachedMapper">
	<resultMap id="BaseResultMap" type="cn.sosopd.order.entity.SosopdOrderAttached">
		<id column="order_id" property="orderId" jdbcType="INTEGER" />
		<result column="attribute_key" property="attributeKey" jdbcType="VARCHAR" />
		<result column="attribute_value" property="attributeValue" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		order_id, attribute_key, attribute_value
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sosopd_order_attached
		where order_id = #{orderId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from sosopd_order_attached
		where order_id = #{orderId,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="cn.sosopd.order.entity.SosopdOrderAttached">
		insert into sosopd_order_attached (order_id, attribute_key, attribute_value
		)
		values (#{orderId,jdbcType=INTEGER}, #{attributeKey,jdbcType=VARCHAR},
		#{attributeValue,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="cn.sosopd.order.entity.SosopdOrderAttached">
		insert into sosopd_order_attached
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderId != null">
				order_id,
			</if>
			<if test="attributeKey != null">
				attribute_key,
			</if>
			<if test="attributeValue != null">
				attribute_value,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderId != null">
				#{orderId,jdbcType=INTEGER},
			</if>
			<if test="attributeKey != null">
				#{attributeKey,jdbcType=VARCHAR},
			</if>
			<if test="attributeValue != null">
				#{attributeValue,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.sosopd.order.entity.SosopdOrderAttached">
		update sosopd_order_attached
		<set>
			<if test="attributeKey != null">
				attribute_key = #{attributeKey,jdbcType=VARCHAR},
			</if>
			<if test="attributeValue != null">
				attribute_value = #{attributeValue,jdbcType=VARCHAR},
			</if>
		</set>
		where order_id = #{orderId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.sosopd.order.entity.SosopdOrderAttached">
		update sosopd_order_attached
		set attribute_key = #{attributeKey,jdbcType=VARCHAR},
		attribute_value = #{attributeValue,jdbcType=VARCHAR}
		where order_id = #{orderId,jdbcType=INTEGER}
	</update>
</mapper>